/* Untuk Tablet */
@media all and (max-width: 1000px){
    .profile-box{
        width: 50%;
        margin-bottom: 10%;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px){
    .profile-box, .top-wrapper, .goal, .project, .profile-wrapper, header, footer{
        width: 100%;
    }
    
}