/* Untuk Tablet */
@media all and (max-width: 1000px){
    html, body{
        max-width: 75%;
        max-height: 75%;
        min-height: 75%;
        min-width: 75%;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px){
    html, body{
        max-width: 50%;
        max-height: 50%;
        min-height: 50%;
        min-width: 50%;
    }
}