*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: 'Calibri Light','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

header{
  top: 0px;
  margin-top: -1px;
  position: fixed;
  z-index: 2;
}

.bolded{
  font-weight: bolder;
}

img{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

.container{
  width: 100%;
  margin: 0 auto;
}

.top-wrapper{
  text-align: center;
  color: black;
}

.heading{
  padding-top: 55px;
  padding-bottom: 35px;
  color: black;
}

.heading h1{
  font-size: 3.5vw;
}

.heading h2{
  font-size: 2.1vw;
}

.name{
  font-size: 3.8vw;
  line-height: 1;
  margin-bottom: 1%px;
  margin-top: 1%;
}

.highlight{
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
  color: orange;
}

.profile-box{
  float: left;
  width: 25%;
}

.goal-content{
  margin: 15% 10% 15% 10%;
  text-align: justify;
}

.goal h2{
  font-size: 3vw;
}

.goal h3{
  display: inline-block;
  font-size: 2.1vw;
}

.contact{
  font-size: 1.5vw;
}

.fa-angle-right{
  color: orange;
  margin-right: 5px;
  margin-left: 10px;
}

.project-content{
  margin: 5% 10% 15% 10%;
  text-align: justify;
  z-index: 1;
  position: absolute;
}

.project h3{
  font-size: 1.7vw;
}

.project h2{
  font-size: 2.7vw;
}

.project p{
  font-size: 2vw;
}

.profile-image{
  position: relative;
  display: inline-block;
  width: 75%;
}

.profile-team{
  text-align: justify;
}

.profile-team h3{
  font-size: 2vw;
  margin-bottom: 1%;
}

.profile-content{
  font-size: 1.5vw;
  color: white;
  width: 40%;
  z-index: 1;
  position: absolute;
  margin: 5% 0 0 10%;
}