body{
  margin: 0;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
  height: 652px;
  background-color: grey;
  text-align: center;
}

.heading{
  padding-top: 60px;
  padding-bottom: 30px;
  color: whitesmoke;
}

.profile-box{
  float: left;
  width: 25%;
}

.profile-image{
  position: relative;
}

.profile-image p{
  position: absolute;
  top: 80px;
  width: 100%;
  color: white;
}

.profile-abi{
  /* padding: 180px 0 100px 0; */
  background-image: none;
  background-size: cover;
  text-align: justify;
}

.profile-makna{
  /* padding: 180px 0 100px 0; */
  background-image: none;
  background-size: cover;
  text-align: justify;
}

.profile-faruq{
  /* padding: 180px 0 100px 0; */
  background-image: none;
  background-size: cover;
  text-align: justify;
}

.profile-nadiah{
  /* padding: 180px 0 100px 0; */
  background-image: none;
  background-size: cover;
  text-align: justify;
}

.profile-content h3{
  color: darkorange;
}

.profile-content{
  color: white;
  background-color: gray;
  width: 75%;
}