html, body{
  margin: 0;
  padding: 0;
  font-family: 'Calibri Light','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.bolded{
  font-weight: bolder;
}

img{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

.container{
  margin: 0 auto;
}

.top-wrapper{
  text-align: center;
  color: black;
}

.heading{
  padding-top: 20px;
  padding-bottom: 70px;
  color: black;
}

.heading h1{
  font-size: 3.5vw;
}

.heading h2{
  font-size: 2.1vw;
}

.name{
  font-size: 3.8vw;
  line-height: 1;
  margin-bottom: 20px;
  margin-top: 10px;
}

.highlight{
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
  color: orange;
}

.profile-box{
  float: left;
  width: 25%;
}

.container-goal{
  padding: 0px 100px;
  margin: 15% 0px 10% 0px;
}

.goal h2{
  font-size: 3vw;
}

.goal h3{
  display: inline-block;
  font-size: 2.1vw;
}

.contact{
  font-size: 1.5vw;
}

.fa-angle-right{
  color: orange;
  margin-right: 5px;
  margin-left: 10px;
}

.project{
  text-align: justify;
}

.container-project{
  padding: 0 100px;
  margin: 3% 0px 10% 0px;
  z-index: 1;
  position: absolute;
}

.project h3{
  font-size: 1.7vw;
}

.project h2{
  font-size: 2.7vw;
}

.project p{
  font-size: 2vw;
}

.profile-image{
  position: relative;
  display: inline-block;
  width: 75%;
}

.profile-team{
  text-align: justify;
}

.profile-team h3{
  font-size: 2vw;
  margin-bottom: 10px;
}

.profile-content{
  font-size: 1.5vw;
  color: white;
  width: 40%;
  z-index: 1;
  position: absolute;
  padding: 0 100px;
  margin-top: 100px;
}