html, body{
  margin: 0;
  padding: 0;
  font-family: 'Calibri Light','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

.bolded{
  font-weight: bolder;
}

img{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
}

.container{
  margin: 0 auto;
}

.top-wrapper{
  text-align: center;
  color: black;
}

.heading{
  padding-top: 60px;
  padding-bottom: 150px;
  color: black;
}

.heading h1{
  font-size: 44px;
}

.heading h2{
  font-size: 28;
}

.name{
  font-size: 48px;
  line-height: 1;
  margin-bottom: 20px;
}

.highlight{
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
  color: orange;
}

.profile-box{
  float: left;
  width: 25%;
}

.container-goal{
  padding: 0px 15px;
  margin: 15% 0px 10px 0px;
}

.goal h2{
  display: inline;
  font-size: 40px;
}

.goal h3{
  display: inline-block;
  font-size: 28px;
}

.contact{
  font-size: 18px;
}

.fa-angle-right{
  color: orange;
  margin-right: 5px;
  margin-left: 10px;
}

.project{
  text-align: justify;
}

.container-project{
  padding: 0 15px;
  margin: 15px 0px 10px 0px;
  z-index: 1;
  position: absolute;
}

.project h3{
  font-size: 20px;
}

.project h2{
  font-size: 32px;
}

.project p{
  font-size: 28px;
}

.profile-image{
  position: relative;
  display: inline-block;
  width: 75%;
}

.profile-team{
  text-align: justify;
}

.profile-team h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-content{
  font-size: 15px;
  color: white;
  width: 45%;
  z-index: 1;
  position: absolute;
  margin-left: 50px;
  margin-top: 100px;
}