*{
  margin: 0%;
  padding: 0%;
}

img{
  max-width: 100%;
  max-width: 100%;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper{
  height: 652px;
  text-align: center;
  background-image: url(resources/Header6.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  color: black;
}

.heading{
  padding-top: 60px;
  padding-bottom: 150px;
  color: black;
}

.profile-box{
  float: left;
  width: 25%;
}

.profile-image{
  position: relative;
  display: inline-block;
  width: 90%;
}

.profile-image p{
  position: absolute;
  top: 80px;
  width: 100%;
  color: black;
}

.profile-team{
  display: flex;
  text-align: justify;
}

.profile-content h3{
  color: darkorange;
}

.profile-content{
  color: white;
  width: 45%;
  z-index: 1;
  position: absolute;
  margin-left: 50px;
}